/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
.site-header {
  background: $color__background-screen;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  padding: 20px 3%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;

  a {
    color: $color__text-screen;
  }
}

.site-branding {


  .site-title {
    margin: 0;
    font-size: 2.4em;

    a {
      text-decoration: none;
    }
  }
}

.header-left {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

/*--------------------------------------------------------------
## Layout
--------------------------------------------------------------*/
@import "../layout/single-column";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";
