$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-inverted: #1f2021;

$color__highlight: #B02B2C;

$color__text-screen: #2a2a2a;
$color__text-input: #666666;
$color__text-input-focus: #111;
$color__link: #666666;
$color__link-visited: rgba(#666666, 0.8);
$color__link-hover: $color__highlight;
$color__text-main: #404040;
$color__text-inverted: #f2f2f2;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
