.main-navigation {
	width: auto;
	position: relative;
	margin-left: auto;
	font-family: $font__headings;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		text-align: center;

		ul {
			display: flex;
			flex-direction: column;
			background: transparentize($color__background-inverted, 0.5);

			@include font-size(0.9375);


		}
	}

	li {
		&:hover > a,
		&.focus > a {
		}

		a {
			display: block;
			text-decoration: none;
			padding: 0 8px;
			color: $color__text-inverted;
		}
	}



	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}


@media (max-width: 57.5em ) {
	.menu-toggle {
		background: $color__background-inverted;
		color: $color__text-inverted;
		border: none;
		box-shadow: 0 0 1px 3px rgba(0,0,0,0.1);
		padding: 10px;
		text-transform: uppercase;
	}
	.menu-close {
		position: fixed;
		top: 4px;
		right: 8px;
		font-size: 0;
		z-index: 999999999;
		border: none;
		background: transparent;


		&::after {
			display: block;
			content: '\00d7';
			@include font-size(5);
			color: $color__text-inverted;
			transform: translateY(-200%);
		}
	}
	.menu-bnm-container {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 999998;
		opacity: 0;
		visibility: hidden;
		transform: scale(0.9);
		transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;


		display: flex;
		flex-direction: column;
		justify-content: center;

		background: $color__background-inverted;

		> ul {

		}

		a {
			padding: 6px;
			@include font-size(2);
		}
		ul ul a {
			@include font-size(1.75);
		}
	}

}

.main-navigation.toggled {

	.menu-close::after {
		transform: translateY(0);
	}

	.menu-toggle {

	}

	.menu-bnm-container {

		opacity: 1;
		visibility: visible;
		transform: scale(1);
		transition: transform 0.4s, opacity 0.4s;

		> ul {

		}
	}

	ul {
	}

	li {

	}

	a {

	}
}

@media screen and (min-width: 57.5em) {
	.menu-toggle,
	.menu-close {
		display: none;
	}
	.main-navigation ul {
		display: flex;
		align-items: center;
	  flex-direction: row;
	  justify-content: flex-start;

		a {
			color: $color__text-screen;
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;
			margin-left: 0;

			:hover > a,
			.focus > a,
			a:hover,
			a.focus {
				background: $color__highlight;
			}

			a {
				width: 200px;
				padding: 8px 14px;
				color: $color__text-inverted;
			}
		}

	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	display: none;

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

//Jetpack social menu
.jetpack-social-navigation {
	margin-left: 16px;
	ul.menu {
		margin-bottom: 0;
		display: flex;
	  align-items: center;
	  flex-direction: row;
	  justify-content: flex-start;
	}

	li a::before {
		font-size: 26px;
	}
	li a {
		margin-right: 3px;
	}
}
