.single .comments-area {
	width: 100%;
	max-width: 720px;
	margin: 0 auto;
}
.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}


.comment-list {
	list-style: none;
	margin: 20px 0 30px;
	padding: 0 0 0;

	.comment-author img {
		float: left;
		margin-top: 3px;
		margin-right: 10px;
		border-radius: 50%;
		box-shadow: 0 0 3px rgba(0,0,0,0.6);
	}

	.comment-body {
		margin-bottom: 20px;
	}

	p {
		margin-bottom: 5px;
	}

	.comment-reply-link {
		font-family: $font__headings;
		@include font-size(0.975);
		background: $color__background-button;
		color: $color__text-input;
		padding: 5px 7px;
		border-radius: 3px;
	}
}
