.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.comments-link {
	display: block;
}

.entry-title {
	margin: 0;

	a {
		text-decoration: none;
	}
}
.entry-footer a {
	text-decoration: none;
}

// Archives


.blog .site-main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	#infinite-handle {
		display: block;
		width: 100%;
		text-align: center;

		span,
		button {
			width: 100%;
			height: 100%;
			@include font-size(1.5);
			font-family: $font__headings;
		}

		span {
			padding: 10px;
			border-radius: 0;
		}
	}
}
.blog .post,
.archive .post {
	width: 100%;
	margin: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 80px 4% 60px;


	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	position: relative;

	border-bottom: 1px solid transparentize( $color__text-screen, 0.8);

	span, div, h1, h2 , p, a {
		color: $color__text-screen;
	}

	&:first-of-type {
		padding-top: 100px;
	}

	div, header, footer {
		flex: 1 0 auto;
		z-index: 2;
		width: 100%;
		max-width: 720px;
		margin: 0 auto;
	}


	.entry-title {
		@include font-size(2.8);
	}

	.entry-content {
		@include font-size(1.8);

		p {
			margin: 0;
		}
	}

	.entry-footer {
		@include font-size(1.25);
		&::before {
			content: '';
			width: 80px;
			height: 2px;
			display: block;
			background: $color__text-screen;
			margin: 40px 0;
		}

		.tags-links {
			display: block;
		}

		a:hover {
			border-bottom: thin dotted $color__link-hover;
		}
	}

}


.blog .post:nth-of-type(3n+1),
.archive .post:nth-of-type(3n+1),
.blog .post:nth-of-type(3n+2):last-of-type,
.archive .post:nth-of-type(3n+2):last-of-type {
  width: 100%;
  margin-right: 0;
}

.blog .post:nth-of-type(3n+2),
.archive .post:nth-of-type(3n+2) {
	border-right: 1px solid transparentize( $color__text-screen, 0.8);
}

@media screen and (min-width: 600px) {

	.blog .post,
	.archive .post {
		width: 50%;
	}
	.blog .post:nth-of-type(3n+1) .entry-title,
	.archive .post:nth-of-type(3n+1) .entry-title {
    @include font-size(3.8);

  }
}


//single posts and pages

.single .post,
.page .page {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	.entry-header {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: flex-end;
		padding: 180px 0 80px;

		position: relative;

		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;

		&::before {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7));
			opacity: 0.8;
			z-index: 1;
			content: " ";
		}

		.entry-title,.entry-meta {
			width: 90%;
			max-width: 720px;
			margin: 0 auto;
			text-align: left;
			color: $color__text-inverted;
			@include font-size(1.4);
			z-index: 2;

			a {
				color: $color__text-inverted;
				text-decoration: none;
			}
		}

		.entry-title {
			@include font-size(3.2);
			margin-bottom: 10px;
		}
	}

	.entry-content {
		max-width: 720px;
		margin: 40px auto 20px;

		.alignwide {
			margin-left: -135px;
			margin-right: -135px;
			width: calc( 100% + 270px);
			max-width: calc( 100% + 270px );

			@media only screen and (max-width: 720px) {
				max-width: 100%;
			}
		}

		.alignfull {
			margin-left: 50%;
			width: 100vw;
			transform: translateX(-50%);

			img {
				width: 100vw;
				max-width: 100vw;
				margin: 0;
				padding: 0;
			}
		}

		.aligncenter {
			text-align: center;
		}

		*[class*="wp-block"] {
			margin-bottom: 1.5em;
		}

		.wp-block-image img {
		  width: 100%;
		}

		.wp-block-quote {
			@include font-size(1.5);
			font-style: italic;
			padding-left: 2em;
			border-left: 3px solid $color__text-screen;

			cite {
				@include font-size(1);
				margin-top: 0;

				&::before {
					content: "― ";
				}
			}
		}

		.wp-block-pullquote {
			padding: 2.4em 0;

			> p {
				font-family: $font__main;
				@include font-size(2.2);
				margin: 0 0 1em;
			}
		}
	}
}
